<!DOCTYPE html>


<link rel="stylesheet" href='static/style.css'>

<section>
            <div class="page">

                <div class="form">
                    <h1>Formulario Tarea</h1>
                        <div class="output-box">
                            <label>Nombres</label>
                            <br>
                            <output type="text" name="Nombres" autocomplete="off" required>
                        </div>
                        <div class="output-box">
                            <label>Apellido Paterno</label>
                            <br>
                            <output type="text" name="Apellidopaterno" autocomplete="off" required>
                        </div>
                        <div class="output-box">
                            <label>Apellido Materno</label>
                            <br>
                            <output type="text" name="ApellidoMaterno" autocomplete="off" required>
                        </div>

                        <div>
                            Genero
                        </div>
                        
                        <div class="output-box">
                            <label>Pais de nacimiento</label>
                            <br>
                            <output type="text" name="Pais" autocomplete="off" required>
                        </div>
                        <div class="output-box">
                            <label>Fecha de nacimiento</label>
                            <br>
                            <output type="date" name="date" autocomplete="off" required>
                        </div>
                        <div class="output-box">
                            <label>Email</label>
                            <br>
                            <output type="email" name="Email" autocomplete="off" required>
                        </div>       
                        <div class="output-box">
                            <label>Password</label>
                            <br>
                            <output type="password" name="password" autocomplete="off" required>
                        </div>             
                        <div class="output-box">
                            <label>Confirm Password</label>
                            <br>
                            <output type="password" name="password" autocomplete="off" required>
                        </div>

                        <button onclick="location.href='Formulario.html'">Formulario</button>
                    </form>
                </div>

            </div>
        </section>
{%endblock%}